
.button {
    display: inline-block;
    cursor: pointer;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

.primary-button {
  background-color: blue;
  color: white;
}

.secondary-button {
  background-color: green;
  color: white;
}

/*
  as if from another page
*/
.custom-button {
  background-color: brown;
}

.sub-page .primary-button {
  background-color: coral;
}